.acceuil {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 4.2rem 5rem;
    background: #fff;
    justify-content: space-between;
}

.acceuil .text {
    width: 47%;
}

.acceuil p:first-child  strong {
    font-weight: bold !important;
    line-height: 6px;
}

.acceuil button {
    background-color: #3c4043;
    color: #fff;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    gap: 5px;
}

.acceuil .imagesCarrousel {
    width: 49%;
    height: 400px;
    border: 1px solid #efefef;
    border-radius: 7px;
}

.acceuil .imagesCarrousel img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 7px;
}

.acceuil .carousel .thumbs {
    display: none;
}

.acceuil .carousel .slide .legend {
    display: none !important;
}

@media screen and (max-width:1110px) {
    .acceuil {
        padding: 4.5rem 3rem;
    }
}

@media screen and (max-width:1060px) {
    .acceuil {
        padding: 4.5rem 2rem;
    }

    .acceuil .textDiv p:first-child strong {
        font-size: 35px !important;
    }
}

@media screen and (max-width:110px) {
    .acceuil p:first-child  strong {
        line-height: normal;
    }
}

@media screen and (max-width:900px) {
    .acceuil {
        flex-direction: column-reverse;
        padding: 2rem 1rem;
        gap: 2rem;
    }

    .acceuil .text {
        width: 100%;
        margin-bottom: 1rem;
    }

    .acceuil .imagesCarrousel {
        width: 100%;
    }
}

@media screen and (max-width:500px) {
    .acceuil button {
        width: 100%;
        text-align: center;
        justify-content: center;
    }

    .acceuil .textDiv p:first-child  strong {
        font-size: 25px !important;
        width: 100% !important;
        text-align: center;
    }

    .acceuil .textDiv p:first-child br{
        display: none !important;
    }
}

@media screen and (max-width:400px) {
    .acceuil .textDiv p:first-child strong{
        font-size: 20px !important;
    }
}