.don {
    height: 200px;
    background-color: #dc642c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.don .title {
    font-size: 1.4rem;
    font-weight: 600;
    color: #fff;
}


.don .col1 {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.don .btnMontant input {
    box-shadow: none;
    border-radius: 0;
}

.don .col1 .tranches {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.don .col1 .tranches .row1 {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center;
    gap: 1rem !important;
}

.don .col1 .tranches input {
    width: 20px;
    height: 20px;
}

.don .btnJedonne button {
    color: #fff;
    border-radius: 0;
    background-color: #3c4043;
    padding: 1rem 2rem;
}

@media screen and (max-width: 1200px) {
    .don .col1 {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .don {
        height: auto;
        padding: 2rem;
    }

    .don .col1 {
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
    .don .col1 .tranches {
        gap: 1rem;
    }
}